<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Успех</title>
</head>
<body>
    <h1>Распределение характеристик завершено!</h1>
    <p>Вы распределили характеристики следующим образом:</p>
    <ul>
        <li>Сила 1: {{ characteristics.strength }}</li>
        <li>Ловкость 2: {{ characteristics.dexterity }}</li>
        <li>Телосложение 3: {{ characteristics.physique }}</li>
        <li>Интеллект 4: {{ characteristics.intelligence }}</li>
        <li>Мудрость 5: {{ characteristics.wisdom }}</li>
        <li>Харизма 6: {{ characteristics.charisma }}</li>
    </ul>
</body>
</html>
